:root {
	--main-font: 700 16px/1.5 'Kumbh Sans', sans-serif;
	--second-font: 400 16px/1.5 'Kumbh Sans', sans-serif;
	--main-color: hsl(229, 23%, 23%);
	--second-color: hsl(227, 10%, 46%);
	--radius : 20px;
}

body {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
}

.container {
	/* position: relative; */
	width: 100%;
	height: 100%;
}

.bg {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: hsl(185, 75%, 39%);
	z-index: 1;
}

#top {
	position: absolute;
	top: -40%;
	left: -3%;
	float: left;
}

#bottom {
	position: absolute;
	bottom: -40%;
	right: -3%;
	float: right;
}

#cover {
	border-top-left-radius: var(--radius);
	border-top-right-radius: var(--radius);
}

.insider {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 2;
	display: flex;
	justify-content: center;
	flex-direction: row;
}

.card {
	background-color: white;
	height: 410px;
	border-radius: var(--radius);
	margin: auto auto;
}

p {
	font: var(--main-font);
	color: var(--main-color);
}

span {
	font: var(--second-font);
	color: var(--second-color);
}

.profile {
	display: flex;
	justify-content: center;
	flex-direction: row;
}

.ident {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	margin-top: -16%;
	margin-bottom: 8%;
}

#avatar {
	border-radius: 50%;
	border: solid 8px white;
}

.data {
	display: flex;
	justify-content:space-evenly;
	flex-direction: row;
}

.data div {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.data div p {
	margin-top: 16px;
	margin-bottom: 0;
}
